*{
    padding: 0;
    margin: 0;
}
#container{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game{
    display: flex;
    flex-direction: row;
    overflow: hidden;  
    flex-wrap: wrap;
    border-style: inset;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    height: auto;
}
.square{
    background-color: rgba(168, 168, 168, 0.747);
    border-style: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
table{
    border-spacing: 0;
    table-layout: fixed;
}
img{
    width: inherit;
    height: inherit;
}
#main{
    height: auto;
    border-style: inset;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
}
#face{
    background-color: red;
    border-style: outset;
}
