*{
    padding: 0;
    margin: 0;
}
#container{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game{
    display: flex;
    flex-direction: row;
    overflow: hidden;  
    flex-wrap: wrap;
    border-style: inset;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    height: auto;
}
.square{
    background-color: rgba(168, 168, 168, 0.747);
    border-style: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
table{
    border-spacing: 0;
    table-layout: fixed;
}
img{
    width: inherit;
    height: inherit;
}
#main{
    height: auto;
    border-style: inset;
    border-width: 0.3vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#face{
    background-color: red;
    border-style: outset;
}
#bombs, #time{
    height:100%;
    font-size: 100%;
}
#options-outer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: gray;
}
#options-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    opacity: 0.8;
    background-color: black;
    color: white;
}
@media (orientation: portrait){
    #options-inner{
        width: 90vw;
    }
}

#error{
    color: red;
    text-align: center;
}
input[type="number"]:disabled{
    color: white;
}